@font-face {
    font-family: 'poppins';
    src: url('/fonts/poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }






body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
}


.swiper {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -999;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */

}

.swiper-slide img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background: lightgray 50%;
}


nav {
    position: absolute;
    width: 7vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 1.3rem;
    cursor: pointer;
}
nav img:hover{
    scale: 1.1;
    transition: ease 0.2s;
}

.top-container,.bottom-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 50%;

}

.top-container {
    margin-top: -5rem;
}
.top-container img {
    width: 1.9rem;
}

.bottom-container {
    justify-content: flex-end;
    margin-bottom: 3rem;
    gap: 2.6rem ;
}

.hero-content-container {
    position: absolute;
    left: 16vw;
    top: 6.5vh;
    color: rgba(255, 255, 255, 0.75);
    font-family: Poppins;
    font-size: 3rem;
    line-height: 170%; /* 126.576px */
}

.why-container {
    width: 100vw;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.middle h1 {
    color: #00A651;
    font-family: Poppins;
    font-size: 78px;
    font-style: normal;
    font-weight: 400;
    line-height: 71px; /* 91.026% */
    letter-spacing: -0.5px;
}

.why-container .middle .why-images{
    width: 30rem;
    height: 30vh;
    position: relative;

}

.why-images img {
    position: absolute;
    width: 250px;

}

.why-images .two {
    left: 10rem;
    top: 2rem;
}

.left {
    width: 40vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.left .boxes {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.7rem;
}

.left h1 {
    color: #00A651;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.left p {
    color: var(--184-d-47, #184D47);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.15px;
    margin: 0;
}
.left .one {
    position: absolute;
    top: 7rem;
    left: 10rem;
}

.left .boxes {
    position: absolute;
}

.left .two {
    top: 22rem;
    left: 13rem;
}

.left .three {
    bottom: -5rem;
    left: 34rem;
}

.left .four {
    bottom: -10rem;
    right: -37rem;
}

.why-container .rigth {
    width: 353px;
    height: 468px;
    position: absolute;
    top: 13rem;
    right: 9rem;
}

.why-container .rigth p {
    color: var(--184-d-47, #184D47);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
}