@font-face {
    font-family: 'poppins';
    src: url('/fonts/poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }



*{
    margin: 0;
    padding: 0;
}



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}




.swiper {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -999;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */

}

.swiper-slide img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background: lightgray 50%;
}


nav {
    position: absolute;
    width: 7vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 1.3rem;
    cursor: pointer;
}
nav img:hover{
    scale: 1.1;
    transition: ease 0.2s;
}

.top-container,.bottom-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 50%;

}

.top-container {
    margin-top: -5rem;
}
.top-container img {
    width: 1.9rem;
}

.bottom-container {
    justify-content: flex-end;
    margin-bottom: 3rem;
    gap: 2.6rem ;
}

.hero-content-container {
    position: absolute;
    left: 16vw;
    top: 6.5vh;
    color: rgba(255, 255, 255, 0.75);
    font-family: Poppins;
    font-size: 3rem;
    line-height: 170%; /* 126.576px */
}

.why-container {
    width: 100vw;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.middle h1 {
    color: #00A651;
    font-family: Poppins;
    font-size: 78px;
    font-style: normal;
    font-weight: 400;
    line-height: 71px; /* 91.026% */
    letter-spacing: -0.5px;
    margin-top: 1rem;
}

.why-container .middle .why-images{
    width: 30rem;
    height: 30vh;
    position: relative;
    margin-top: 4rem;

}

.why-images img {
    position: absolute;
    width: 250px;

}

.why-images .two {
    left: 10rem;
    top: 2rem;
}

.left {
    width: 40vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.left .boxes {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.7rem;
}

.left h1 {
    color: #00A651;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.left p {
    color: var(--184-d-47, #184D47);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.15px;
    margin: 0;
}
.left .one {
    position: absolute;
    top: 7rem;
    left: 10rem;
}

.left .boxes {
    position: absolute;
}

.left .two {
    top: 22rem;
    left: 13rem;
}

.left .three {
    bottom: -5rem;
    left: 34rem;
}

.left .four {
    bottom: -10rem;
    right: -37rem;
}

.why-container .rigth {
    width: 353px;
    height: 468px;
    position: absolute;
    top: 13rem;
    right: 9rem;
}

.why-container .rigth p {
    color: var(--184-d-47, #184D47);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
}






.destination-container {
    width: 100vw;
    height: 100vh;
    margin-top: 7rem;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

 .find {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
}
.find h1 {
    color: #00A651;
    font-family: Poppins;
    font-size: 50px;
    width: 50%;
    font-style: normal;
    font-weight: 400;
    line-height: 75px; /* 128.205% */
    letter-spacing: -0.5px;
    margin: 0;
    padding-left: 7rem;
}
.find p {
    color: var(--184-d-47, #184D47);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px; /* 117.647% */
    letter-spacing: 0.25px;
    width: 70%;
    margin: 0;
    padding-left:7rem;
    padding-bottom: 7rem;
}
.destination-carousal {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* destination carousal */








  .package {
    width: 100vw;
    height: 130vh;
    position: relative;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ptext {
    width: 70%;
    height: 30vh;
    position: absolute;
    top: 3rem;
    right: 8rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
  }

  .ptext h1 {
    color: #00A651;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px; /* 128.205% */
    letter-spacing: -0.5px;
    margin: 0;
  }
  .ptext p {
    color: var(--184-d-47, #184D47);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px; /* 117.647% */
    letter-spacing: 0.25px;
    margin: 0;
  }


  .package-cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  .package-cards .card {
    width: 18rem;
    height: 30rem;
  }

  .card0 {
    margin-bottom: 10rem;
  }

  .card1 {
    margin-bottom: 0rem;
  }
  .card2 {
    margin-bottom: -10rem;
  }
  .card3 {
    margin-bottom: -20rem;
  }


.swiffy-slider {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
  .slider-container li {
    width: 100%;
    height: 100%;
  }




  /* testimonal  */



.testimonial-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    background: #ECF1F0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 7rem;
}

.testimonial-container h1 {
    color: #00A651;
    text-align: center;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.testimonial-slider {
    width: 100vw;
    height: 800%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;    
    overflow: hidden;
    margin-bottom: 2rem;
}

.testimonial-slides {
    width: 60%;
    height: 80%;
    background-color: aqua;
    position: relative;
    border-radius: 1rem;
    flex: 0 0 auto;
}

.t-content {
    width: 60%;
    height: 50%;
    background-color: white;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.t-logo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #184D47;
    margin-top: -2.7rem;
}

.t-review {
    width: 70%;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.t-name {
    color: #000;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1rem;
}

.subscribe {
    width: 100vw;
    height: 70vh;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-container {
    width: 65%;
    height: 70%;
    border-radius: 20px 129px 20px 20px;
    background: rgba(165, 252, 207, 0.2);
    background: #A5FCCF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.s-container h1 {
    color: #00A651;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    z-index: 9999;
    font-style: normal;
    font-weight: 600;
    line-height: 206%; /* 41.2px */
    width: 50%;
    opacity: 1;
}


.s-input {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.s-input input {
    width: 22rem;
    border: none;
    height: 100%;
    border-radius: 10px;
    background: var(--white, #FFF);
    color: var(--TEXT-COLOR, #39425D);
    font-family: Poppins;
    font-size: 14px;
    padding: 0.7rem;
    padding-left: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.s-input button {
    width: 8rem;
    height: 100%;
    border-radius: 10px;
    background: #00A651;
    border: none;
    padding: 0.7rem; 
    color: var(--white, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    margin-left: 1rem;
}

.s-container {
    position: relative;
}

.subscribe svg {
    position: absolute;
    top: -10px;
    left: -10px;
}


.package-cards .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

.package-cards .card p {
    color: var(--184-d-47, #184D47);
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    margin-top: 0.5rem;
    letter-spacing: 0.15px;
}

.package-cards .card button {
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 50px;
    text-align: center;
    border: 1px #00A651;
    background: #ECFFF5;
    color: #00A651;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.15px;
    position: absolute;
    margin-left: 4rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.package-cards .card button:hover{
    background: #00A651;
    border: 1px solid white;
    color: white;
    transition: 0.2s ease;
}

.slider-container li {
    height: 80%;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.slider-container li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.slider-container li button {
    width: 9rem;
    height: 2.5rem;
    border: none;
    border-radius: 50px;
    background: rgba(246, 246, 246, 0.25);
    z-index: 999;
    margin-top: -5rem;
    color: #F6F6F6;

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.15px;
    
}

.slider-container li button:hover{

    background: white;
    color: black;
    transition: 0.2 ease;
    cursor: pointer;

}

.explore-trip a {
    text-decoration: none;
    color: #fff;
}

.explore-trip:hover a{
    color: black;
    transition: 0.2s ease;
}