*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

nav {
    width: 100vw;
    height: 5rem;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {

    color: black;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    text-decoration: none;


}

.action-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.acceptTrip , .rejectTrip {
    padding: 0.3em 1.5rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: poppins;
}

.acceptTrip {
    background-color: green;

}

.rejectTrip {
    background-color: red;
}

main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}