.payment-ov-container {


    position: absolute;
    width: 30rem;
    height: 70%;
    right: -7rem;
    top: 50rem;



}



.booking-container {
    width: 22rem;
    height: auto;
    padding: 2rem;
    position: sticky;
    top: 15rem;
    z-index: 99999;
    border-radius: 12px;
    border: 1px solid #E7E6E6;
    background: #FFF;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
}
.tickets {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    align-items: flex-start;
}

.top-ticket {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}
.top-ticket h3{
    color: #05073C;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.13px;
}

.top-ticket h3 span {
    color: #05073C;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 37.5px;
}

.top-ticket .calendar {
    width: 100%;
    height: 50%;
    border-radius: 12px;
    border: 1px solid #DDD;
    background: #FFF;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
}




.ticket-calendar {
    width: auto;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

}
.ticket-calendar h3 {
    color: #05073C;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.ticket-calendar h2 {
    color: #000;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px
}

.mid-ticket {
    width: 100%;
    height: 5rem;
}

.mid-ticket h2 {
    color: #05073C;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.13px;

}

.child-mid-ticket {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.child-mid-ticket h3 {
    color: #05073C;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.13px;
    margin-top: 0.5rem;
}

.arrows {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.arrows button {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    color: E7E6E6;
    background-color: transparent;
    border: 2px solid #E7E6E6;
    cursor: pointer;
}

.arrows button:hover{
    background-color: #E7E6E6;
    border: none;
    transition: 0.2s ease-in;

}

#counter {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.grand-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;

}

.grand-total #tripData {
    display: none;
}

.grand-total h1 {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
}

.grand-total h3 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
}

.booking-btn {
    width: 100%;
    height: 3rem;
    background-color: #05A351;
    border: none;
    cursor: pointer;
    color: #fff;
  font-family: Poppins;
  font-weight: 700;
}

#paymentForm {
    width: 100%;
}

/* .booking-btn a {
    color: #fff;
    font-family: Poppins;
    font-weight: 700;

} */