footer {
    width: 100%;
    height: 480px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    position: relative;

    margin-top: 14rem;
}

svg {
    width: 50px;
    height: 50px;
}

.sec1 , .sec2 , .sec3 {
    height: 80%;

}

.sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
}


.sec1 p {
    color: var(--TEXT-CLR, #5E6282);
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 124.5%;
    width: 60%;
   
}

footer h3 {
    color: var(--black, #080809);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 124.5%; /* 27.39px */

}

footer .links a {
    color: var(--TEXT-CLR, #5E6282);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.5%; /* 22.41px */
}

.sec2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
}

footer .links {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    margin-top: 2.5rem;

}

.cc {
    color: var(--TEXT-CLR, #5E6282);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.5%; /* 17.43px */
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%,-50%);
}

svg {
    fill: var(--angular, conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60.00000178813934deg, #C68BF0 106.09081864356995deg, #D164DA 153.7500035762787deg, #C963E8 221.24999284744263deg, #BFC2E8 258.75deg, #FFC999 288.7499928474426deg, #D0D8C9 315deg, #BAD0F1 334.13365602493286deg, #CED8CB 358.9677572250366deg, rgba(255, 255, 255, 0.00) 360deg));
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.10));
}

.sec3{
    display: flex;
    justify-content: center;
    align-items: center;
}


.sec3 img {
    height: 2.5rem;
}



@media(max-width:1200px) {
    footer{
        flex-direction: column;
        position: relative;   
        padding: 0 8rem;
        padding-bottom: 8rem;
    }

    .sec1 {
        width: 100%;
        height: 24rem;
        justify-content: flex-start;
    }
    .sec1 p {
        width: 23%;
    }
    
    .sec3 {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 5rem;
        margin-right: 8rem;
        height: 24rem;
        display: flex;
        align-items: flex-start;
        gap: 0.2rem;
    }

    .sec2 {
        width: 100%;
        justify-content: space-between;
        gap: 0;
    }
}




@media(max-width:980px) {
    footer{
        flex-direction: column;
        position: relative;   
        padding: 0 8rem;
        padding-bottom: 8rem;
    }

    .sec1 {
        width: 100%;
        height: 24rem;
        justify-content: flex-start;
    }
    .sec1 p {
        width: 33%;
    }
    
    .sec3 {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 5rem;
        margin-right: 8rem;
        height: 24rem;
        display: flex;
        align-items: flex-start;

    }

    .sec2 {
        width: 100%;
        justify-content: space-between;
        gap: 0;
    }

    footer h3 {
        font-size: 16px;
    }

    footer .links a {
        font-size: 11px;
    }
    .cc {
        font-size: 11px;
    }
}




@media(max-width:740px) {
    footer{
        flex-direction: column;
        position: relative;   
        padding: 0 4rem;
        padding-bottom: 8rem;
        height: 450px;
    }

    .sec1 {
        width: 100%;
        height: 24rem;
        justify-content: flex-start;
    }
    .sec1 p {
        width: 43%;
        font-size: 10px;
    }
    
    .sec3 {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 5rem;
        margin-right: 4rem;
        height: auto;
        display: flex;
        align-items: flex-start;

    }

    .sec2 {
        width: 100%;
        justify-content: space-between;
        gap: 0;
    }

    footer h3 {
        font-size: 16px;
    }

    footer .links a {
        font-size: 11px;
    }
    .cc {
        font-size: 11px;
    }

    .sec3 img {
        height: 1.5rem;
    }

    footer .links {
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
        margin-top: 1rem;
      }
}


@media(max-width:450px) {
    footer h3 {
        font-size: 11px;
      }

      footer .links a {
        font-size: 8px;
      }

      footer {
        height: 350px;
        padding-bottom: 2rem;
      }

      .sec1 {
        width: 100%;
        height: 6.8rem;
        justify-content: flex-start;
      }
}