@font-face {
    font-family: 'poppins';
    src: url('/fonts/poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }







*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
    color: #D3D3D3;
}

body {
    background: #F5F5F5;
}

header {
    width: 100vw;
    height: 60vh;
    position: relative;
    background: url("../images/1st page bg image.png") lightgray 50% / cover no-repeat;
    position: relative;
}

header hr {
    position: absolute;
    top: 5.5rem;
    width: 100vw;
    stroke-width: 0.8px;
    stroke: #D3D3D3;
}

nav {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

nav .right {
    margin-right: 4rem;
    gap: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
nav .right img {
    width: 2.4rem;
}

nav .home {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

nav .logo {
        color: #FFF;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
        margin-left: 4rem;
}

.bottom-container {
    width: 10vw;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.bottom-container img {
    width: 1.4rem;
    cursor: pointer;
}

.search-container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 50vw;
    height: 10vh;
    border-radius: 200px;
    background: #FFF;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
    margin-top: -5rem;
    z-index: 99;
}

main {
    background-color: #F5F5F5;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.filter-container {
    width: 18vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}
.filters {
    width: 100%;
    height: 60%;
    border-radius: 12px;
    border: 1px solid #E7E6E6;  
}
.filters .top {
    height: 30%;
    background-color: #05A351;
    border-radius: 12px 12px 0px 0px;
}

.secondary-search {
    width: 18vw;
    height: 3.5rem;
    position: relative;
}

.secondary-search input {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    border-radius: 200px;
    border: 1px #CDCDCD;
    background: #FFF;
    color: #757575;

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;

}

.secondary-search-button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #05A351;
    z-index: 999;
    position: absolute;
    right: -3%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: none;
    cursor: pointer;
}
.secondary-search-button i {
    width: 1rem;
    color: #FFF;
}

.secondary-search .loc {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%,-50%);
    color: #757575;
    width: 1rem;
}

.secondary-search form {
    width: 100%;
    height: 100%;
}

.range-input form {
    width: 100%;
    height: 100%;
}

.filters .bottom {
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.cards-container {
    width: 65vw;    
    height: 300vh;   
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    flex-wrap: wrap;
}

.your-trip {
    width: 100%;
    height: 70px;
}

.you-type-filter-body {
    color: #05073C;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px; /* 150% */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    padding: 1rem;
}

.you-type-filter-content {
    width: 100%;
    height :auto;
}


.you-type-filter-content form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#filterToggle {
    cursor: pointer;
}

.style-img {
    width: 30px;
}

#categoryFilterForm label {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding-left: 1rem;
    align-items: center;
    gap: 1rem;
    font-family: Poppins;
    color: #9A9A9A;
    font-size: 18px;
}

#categoryFilterForm input {
    border-radius: 4px;
    border: none;
    border: 1px #9A9A9A;
    margin-left: 0.5rem;
}





.price-filter-container {
    width: 100%;
    height: 10rem;
    background-color: #387bbe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}








.wrapper{
    width: 100%;
    padding: 20px 25px 40px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.1);
  }

  .price-input{
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
  }
  .price-input .field{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
  }
  .field input{
    width: 100%;
    height: 100%;
    text-align: center;
    -moz-appearance: textfield;
    border: none;
    color: #A6A6A6;
    background-color: transparent;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator{
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider{
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: linear-gradient(90deg, #2ECB79 0%, #44C1E8 100%);;
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #fff;
    
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
  input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #fff;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
















.filter-hide {
    display: none;
}

.card-container {
    width: 15rem;
    height: 24rem;
    border-radius: 12px;
    border: 1px solid #E7E6E6;
    background: #FFF;}


.card-body {
    width: 100%;
    height: 50%;
}

.card-img {
    width: 100%;
    height: 45%;
    border-radius: 12px;
    padding: 6.5px;
    position: relative;
}
.trip-image{
    width: 100%;
    height: 100%;
}
.trip-image img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.heart-container {
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    bottom: -4px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);  
}
.heart-container i {
    width: 1rem;
    cursor: pointer;
}

.route {
    width: 100%;
    height: 20%;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.route img {
    width: 1.8rem;
}

.card-title a{
    color: #05A351;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.38px;
}


.card-title p {
    color: #717171;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.38px; /* 135.444% */
}

.card-title h4 {
    font-size: 10rem;
}

.title-container {
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}
.title-container h4 {
    color: #05073C;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.card-body hr {
    margin-top: 3rem;
    height: 1px; /* This controls the thickness */
    background-color: #E7E6E6; /* This sets the color */
    border: none; /* Removes the default border */

}


.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.card-bottom h4 , .price-container{
    color: #05073C;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.38px; /* 152.375% */
}

.price-container span {
    color: #05073C;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.38px; /* 152.375% */
}