@font-face {
    font-family: 'poppins';
    src: url('/fonts/poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }







*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
    color: #D3D3D3;
}

body {
    background: #F5F5F5;
}

header {
    width: 100vw;
    height: 60vh;
    position: relative;
    background: url("../images/1st page bg image.png") lightgray 50% / cover no-repeat;
    position: relative;
}

header hr {
    position: absolute;
    top: 5.5rem;
    width: 100vw;
    stroke-width: 0.8px;
    stroke: #D3D3D3;
}

nav {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

nav .right {
    margin-right: 4rem;
    gap: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
nav .right img {
    width: 2.4rem;
}

nav .home {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

nav .logo {
        color: #FFF;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
        margin-left: 4rem;
}

.bottom-container {
    width: 10vw;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.bottom-container img {
    width: 1.4rem;
    cursor: pointer;
}

.search-container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 50vw;
    height: 10vh;
    border-radius: 200px;
    background: #FFF;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
    margin-top: -5rem;
    z-index: 99;
}

main {
    background-color: #F5F5F5;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.filter-container {
    width: 20vw;
    height: 100vh;
    margin-left: -4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
}
.filters {
    width: 80%;
    height: 60%;
    border-radius: 12px;
    border: 1px solid #E7E6E6;  
}
.filters .top {
    height: 30%;
    background-color: #05A351;
    border-radius: 12px 12px 0px 0px;
}
.filters .bottom {
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.cards-container {
    width: 65vw;    
    height: 300vh;   
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    flex-wrap: wrap;
}

.your-trip {
    width: 100%;
    height: 70px;
    background-color: antiquewhite;
}

.filter-body {
    color: #05073C;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px; /* 150% */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 1rem;
}

.filter-content {
    width: 100%;
    height: 40vh;
}
.filter-content form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: aquamarine;
}

.card-container {
    width: 15rem;
    height: 24rem;
    border-radius: 12px;
    border: 1px solid #E7E6E6;
    background: #FFF;}


.card-body {
    width: 100%;
    height: 50%;
}

.card-img {
    width: 100%;
    height: 45%;
    border-radius: 12px;
    padding: 6.5px;
    position: relative;
}
.trip-image{
    width: 100%;
    height: 100%;
}
.trip-image img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.heart-container {
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    bottom: -4px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);  
}
.heart-container i {
    width: 1rem;
    cursor: pointer;
}

.route {
    width: 100%;
    height: 20%;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.route img {
    width: 1.8rem;
}

.card-title a{
    color: #05A351;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.38px;
}


.card-title p {
    color: #717171;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.38px; /* 135.444% */
}

.card-title h4 {
    font-size: 10rem;
}

.title-container {
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}
.title-container h4 {
    color: #05073C;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.card-body hr {
    margin-top: 3rem;
    height: 1px; /* This controls the thickness */
    background-color: #E7E6E6; /* This sets the color */
    border: none; /* Removes the default border */

}


.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.card-bottom h4 , .price-container{
    color: #05073C;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.38px; /* 152.375% */
}

.price-container span {
    color: #05073C;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.38px; /* 152.375% */
}