<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/adminpannel" method="POST">
        <label for="destination">destination</label>
        <input type="text" name="destination" id="destination" class="destination">

        <label for="tripPackage1">packages1</label>
        <input type="text" name="tripPackage1" id="tripPackage1" class="tripPackage1">
        
        <label for="tripPackage2">packages2</label>
        <input type="text" name="tripPackage2" id="tripPackage2" class="tripPackage2">
        
        <label for="tripPackage3">packages3</label>
        <input type="text" name="tripPackage3" id="tripPackage3" class="tripPackage3">

        <label for="tripPackage4">packages4</label>
        <input type="text" name="tripPackage4" id="tripPackage4" class="tripPackage4">


        <button type="submit">Submit</button>
    </form>
</body>
</html>