<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/grantagentaccess" method="POST">
        <div>
            <input type="text" name="username" id="username" class="username">
            <label for="email">Enter username</label>    
        </div>
        <button>Submit</button>

    </form>
</body>
</html>