<% layout("./layouts/boilerplate.ejs") %>


<form action="/leaderform" method="POST">
    <div class="col-6 offset-2">
        <div class="mt-3">
            <label for="leaderName" class="form-label mb-2">Leader Name</label>
            <input type="text" name="leaderName" id="leaderName" class="form-control ">
        </div>
    
        
        <div class="input-group mt-3">
            <span class="input-group-text">about leader</span>
            <textarea class="form-control" name="aboutLeader" aria-label="With textarea"
                placeholder="about Leader"></textarea>
        </div>
    
        
        <div class="mt-3">
            <label for="leaderProfile" class="form-label mb-2">leader profile</label>
            <input type="file" name="leaderProfile" id="leaderProfile" class="form-control">
        </div>
    
        <button class="btn mt-3 btn-primary">Submit</button>
    </div>
</form>