<% layout("./layouts/boilerplate.ejs") %>

<form action="/" method="POST" class="col-6 offset-2 mt-5">
    <div>
        <label for="departure" class="form-label mb-2">departure</label>
        <input type="date" name="departure" id="departure" class="form-control ">
    </div>
    <div class="mt-3">
        <label for="tripTitle" class="form-label mb-2">title</label>
        <input type="text" name="tripTitle" id="tripTitle" class="form-control ">
    </div>
    <div class="mt-3">
        <label for="totalDays" class="form-label mb-2">total days</label>
        <input type="number" name="totalDays" id="totalDays" class="form-control ">
    </div>
    <div class="mt-3">
        <label for="startLocation" class="form-label mb-2">Start location</label>
        <input type="text" name="startLocation" id="startLocation" class="form-control ">
    </div>
    <div class="mt-3">
        <label for="tripDescription" class="form-label mb-2">Trip description</label>
        <input type="text" name="tripDescription" id="tripDescription" class="form-control ">
    </div>
    <button class="mt-3">SUBMIT</button>
</form>