<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>wallet page</h1>

    <h2>send tokens</h2>
    <form action="/admin/sendCoins" method="post">
        <input type="text" placeholder="enter user email" name="email" id="email">
        <br>
        <input type="number" name="tokens" id="tokens" placeholder="enter tokens">
        <br>
        <button>send</button>
    </form>
</body>
</html>