<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">



    <link rel="stylesheet" href="/css/flash.css">
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/signup.css">

    <title>Document</title>
</head>
<body>

    <% if (error && error.length > 0) { %>
        <div class="flash-message error"><%= error %></div>
    <% } %>
    

    <nav>
        <div class="logo">
            <h4><b>TRAVELER</b></h4>
        </div>
        <div class="home">
            <a href="/aboutus">HOME</a>
        </div>
    </nav>

    <hr>



    <main>



        <div class="row">
                <form action="/user/signin" method="POST">
                    <div class="mt-3">
                        <input type="text" name="username" id="username" class="form-control" novalidate placeholder="username">
                    </div>
                    <div class="mt-3">
                        <input type="text" name="password" id="password" class="form-control" novalidate placeholder="password">
                    </div>

                    <div class="location">

                        <a href="/user/forgot-username">forgot username</a>
                        <a href="/user/forgot-password">forgot password</a>

                    </div>


                    <div class="btns">
                        <button class="btn btn-success mt-3">signIN</button>

                    </div>
                </form>
        </div>
    


    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/flash.js"></script>
    <script src="/js/nav.js"></script>

</body>
</html>
