<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">



    <link rel="stylesheet" href="/css/logo.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Document</title>
</head>
<body>

    <nav>
        <div class="logo">
            <p class="shine">joinOurTour</p>
        </div>
        <div class="home">
            <a href="/aboutus">HOME</a>
        </div>
    </nav>

    <hr>



            <!-- <form  action="/user/signup" method="POST"  id="signupForm">
                <input type="text" name="firstName" placeholder="First Name" required>
                <input type="text" name="lastName" placeholder="Last Name" required>
                <input type="text" name="state" placeholder="State" required>
                <input type="text" name="city" placeholder="City" required>
                <input type="tel" name="phoneNumber" placeholder="Phone Number" required>
                <button type="button" type="submit" id="nextButton">Next</button>
            </form> -->

<main>

            <form class="form"  action="/user/signup" method="POST"  id="signupForm">
                <p class="title">Register </p>
                <p class="message">Signup now and get full access to our app. </p>
                    <div class="flex">
                    <label>
                        <input required name="firstName" placeholder="" type="text" class="input">
                        <span>Firstname</span>
                    </label>
            
                    <label>
                        <input required name="lastName" type="text" class="input">
                        <span>Lastname</span>
                    </label>
                    </div>
                    <label>
                        <input required name="state" type="text" class="input">
                        <span>State</span>
                    </label>
                    <label>
                        <input required name="city" type="text" class="input">
                        <span>City</span>
                    </label>
                    <label>
                        <input required name="phoneNumber" type="tel" class="input">
                        <span>Phone no</span>
                    </label>
                        
                <button class="submit">Next</button>
                <p class="signin">Already have an acount ? <a href="/user/signin">Signin</a> </p>
            </form>



        
        </main>

    
    
    <!-- <script>
        document.getElementById("nextButton").addEventListener("click", () => {
            const formData = new FormData(document.getElementById("signupForm"));
            const data = Object.fromEntries(formData.entries());
            
            fetch("/save-signup-data", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(data),
            }).then(() => window.location.href = "/user/auth");
        });
    </script> -->

    <script>
        document.getElementById('nextButton').addEventListener('click', function () {
    document.getElementById('signupForm').submit();
});

    </script>

    <script src="/js/nav.js"></script>

</body>
</html>
