<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>login using phone number</h1>


    <form action="/user/send-otp" method="POST">
        <input type="text" name="phoneNumber" placeholder="Enter your phone number" required>
        <button type="submit">Send OTP</button>
    </form>
    
    <form action="/user/verify-otp" method="POST">
        <input type="text" name="otp" placeholder="Enter OTP" required>
        <button type="submit">Verify OTP</button>
    </form>
    

</body>
</html>