<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous"
    defer></script>
  <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/css/nav.css">

  <link rel="stylesheet" href="/css/aboutus.css">
  <title>Document</title>
</head>

<body>


  <nav>
    <div class="top-container">
      <img src="../images/account_circle.png" alt="">
      <img src="../images/search.png" alt="">
    </div>
    <div class="bottom-container">
      <img src="../images/linkedin(3).png" alt="">
      <img src="../images/instagram(4).png" alt="">
      <img src="../images/facebook-app-symbol(1).png
            " alt="">
    </div>
  </nav>


  <div class="hero-content-container">
    <h1>Elevate your <br> nature <br> experience.</h1>
  </div>



  <!-- <form action="/searchTrips" method="POST" id="searchTripForm" class="search-container">
        <div class="search-bar">
            <div class="location-search-container">
                <label for="location">Where</label>
                <input type="text" name="location" id="location" placeholder="Search destinations">
            </div>

            <div class="checkin-search-container">
                <label for="checkIn">Check in</label>
                <input type="date" placeholder="Check in" name="checkIn" id="checkIn">
            </div>

            <div class="checkout-search-container">
                <label for="checkOut">Check out</label>
                <input type="date" placeholder="Check out" name="checkOut" id="checkOut">
            </div>

            <button type="button" onclick="searchTrip()">Search</button>
        </div>
    </form> -->



  <div class="swiper mySwiper">

    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="../images/image1.png" alt="image"></div>
      <div class="swiper-slide"><img src="../images/image1.png" alt="image"></div>
      <div class="swiper-slide"><img src="../images/image1.png" alt="image"></div>
      <div class="swiper-slide"><img src="../images/image1.png" alt="image"></div>
      <div class="swiper-slide"><img src="../images/image1.png" alt="image"></div>
      <div class="swiper-slide"><img src="../images/image1.png" alt="image"></div>
      <div class="swiper-slide"><img src="../images/image1.png" alt="image"></div>
      <div class="swiper-slide"><img src="../images/image1.png" alt="image"></div>
      <div class="swiper-slide"><img src="../images/image1.png" alt="image"></div>
    </div>
    <!-- <div class="swiper-pagination"></div> -->
  </div>


  <div class="img"></div>


  <div class="why-container">
    <div class="left">
      <div class="one boxes">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 80 80" fill="none">
          <g clip-path="url(#clip0_1_201)">
            <path
              d="M68.3333 10L67.8 10.1L50 17L30 10L11.2 16.3333C10.5 16.5667 10 17.1667 10 17.9333V68.3333C10 69.2667 10.7333 70 11.6667 70L12.2 69.9L30 63L50 70L68.8 63.6667C69.5 63.4333 70 62.8333 70 62.0667V11.6667C70 10.7333 69.2667 10 68.3333 10ZM33.3333 18.2333L46.6667 22.9V61.7667L33.3333 57.1V18.2333ZM16.6667 21.5333L26.6667 18.1667V57.1667L16.6667 61.0333V21.5333ZM63.3333 58.4667L53.3333 61.8333V22.8667L63.3333 19V58.4667Z"
              fill="#00A651" />
          </g>
          <defs>
            <clipPath id="clip0_1_201">
              <rect width="80" height="80" fill="white" />
            </clipPath>
          </defs>
        </svg>

        <h1>Destinations</h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam
        </p>
      </div>
      <div class="two boxes">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 80 80" fill="none">
          <g clip-path="url(#clip0_1_208)">
            <path
              d="M23.3333 46.6666C28.8667 46.6666 33.3333 42.2 33.3333 36.6666C33.3333 31.1333 28.8667 26.6666 23.3333 26.6666C17.8 26.6666 13.3333 31.1333 13.3333 36.6666C13.3333 42.2 17.8 46.6666 23.3333 46.6666ZM23.3333 33.3333C25.1667 33.3333 26.6667 34.8333 26.6667 36.6666C26.6667 38.5 25.1667 40 23.3333 40C21.5 40 20 38.5 20 36.6666C20 34.8333 21.5 33.3333 23.3333 33.3333ZM63.3333 23.3333H36.6667V50H10V16.6666H3.33334V66.6666H10V56.6666H70V66.6666H76.6667V36.6666C76.6667 29.3 70.7 23.3333 63.3333 23.3333ZM70 50H43.3333V30H63.3333C67 30 70 33 70 36.6666V50Z"
              fill="#00A651" />
          </g>
          <defs>
            <clipPath id="clip0_1_208">
              <rect width="80" height="80" fill="white" />
            </clipPath>
          </defs>
        </svg>

        <h1>Accomodation</h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam
        </p>
      </div>
      <div class="three boxes">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 80 80" fill="none">
          <g clip-path="url(#clip0_1_222)">
            <path d="M60 40H46.6667V45H60V40Z" fill="#00A651" />
            <path d="M60 50H46.6667V55H60V50Z" fill="#00A651" />
            <path
              d="M66.6667 23.3333H50V13.3333C50 9.66663 47 6.66663 43.3333 6.66663H36.6667C33 6.66663 30 9.66663 30 13.3333V23.3333H13.3333C9.66667 23.3333 6.66667 26.3333 6.66667 30V66.6666C6.66667 70.3333 9.66667 73.3333 13.3333 73.3333H66.6667C70.3333 73.3333 73.3333 70.3333 73.3333 66.6666V30C73.3333 26.3333 70.3333 23.3333 66.6667 23.3333ZM36.6667 23.3333V13.3333H43.3333V23.3333V30H36.6667V23.3333ZM66.6667 66.6666H13.3333V30H30C30 33.6666 33 36.6666 36.6667 36.6666H43.3333C47 36.6666 50 33.6666 50 30H66.6667V66.6666Z"
              fill="#00A651" />
            <path
              d="M30 50C32.7614 50 35 47.7614 35 45C35 42.2386 32.7614 40 30 40C27.2386 40 25 42.2386 25 45C25 47.7614 27.2386 50 30 50Z"
              fill="#00A651" />
            <path
              d="M36.9333 53.9333C34.8 53 32.4667 52.5 30 52.5C27.5333 52.5 25.2 53 23.0667 53.9333C21.2 54.7333 20 56.5333 20 58.5667V60H40V58.5667C40 56.5333 38.8 54.7333 36.9333 53.9333Z"
              fill="#00A651" />
          </g>
          <defs>
            <clipPath id="clip0_1_222">
              <rect width="80" height="80" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <h1>Team of Professionals</h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam
        </p>
      </div>
      <div class="four boxes">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 80 80" fill="none">
          <g clip-path="url(#clip0_1_214)">
            <path
              d="M13.3333 43.3333C17 43.3333 20 40.3333 20 36.6667C20 33 17 30 13.3333 30C9.66667 30 6.66667 33 6.66667 36.6667C6.66667 40.3333 9.66667 43.3333 13.3333 43.3333ZM17.1 47C15.8667 46.8 14.6333 46.6667 13.3333 46.6667C10.0333 46.6667 6.9 47.3667 4.06667 48.6C1.6 49.6667 0 52.0667 0 54.7667V60H15V54.6333C15 51.8667 15.7667 49.2667 17.1 47ZM66.6667 43.3333C70.3333 43.3333 73.3333 40.3333 73.3333 36.6667C73.3333 33 70.3333 30 66.6667 30C63 30 60 33 60 36.6667C60 40.3333 63 43.3333 66.6667 43.3333ZM80 54.7667C80 52.0667 78.4 49.6667 75.9333 48.6C73.1 47.3667 69.9667 46.6667 66.6667 46.6667C65.3667 46.6667 64.1333 46.8 62.9 47C64.2333 49.2667 65 51.8667 65 54.6333V60H80V54.7667ZM54.1333 45.5C50.2333 43.7667 45.4333 42.5 40 42.5C34.5667 42.5 29.7667 43.8 25.8667 45.5C22.2667 47.1 20 50.7 20 54.6333V60H60V54.6333C60 50.7 57.7333 47.1 54.1333 45.5ZM26.9 53.3333C27.2 52.5667 27.3333 52.0333 29.9333 51.0333C33.1667 49.7667 36.5667 49.1667 40 49.1667C43.4333 49.1667 46.8333 49.7667 50.0667 51.0333C52.6333 52.0333 52.7667 52.5667 53.1 53.3333H26.9ZM40 26.6667C41.8333 26.6667 43.3333 28.1667 43.3333 30C43.3333 31.8333 41.8333 33.3333 40 33.3333C38.1667 33.3333 36.6667 31.8333 36.6667 30C36.6667 28.1667 38.1667 26.6667 40 26.6667ZM40 20C34.4667 20 30 24.4667 30 30C30 35.5333 34.4667 40 40 40C45.5333 40 50 35.5333 50 30C50 24.4667 45.5333 20 40 20Z"
              fill="#00A651" />
          </g>
          <defs>
            <clipPath id="clip0_1_214">
              <rect width="80" height="80" fill="white" />
            </clipPath>
          </defs>
        </svg>

        <h1>Guides</h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam
        </p>
      </div>
    </div>
    <div class="middle">
      <h1>Why Traveler</h1>
      <div class="why-images">
        <img src="../images/why1.svg" alt="" class="one">
        <img src="../images/why2.svg" alt="" class="two">
      </div>
    </div>

    <div class="rigth">
      <p>
        GeorgiCa Travel has built it’s reputation by successfully producing specalised solutions for many years creating
        unforgetable travel experiences for our customers.

        We believe that our expertise and the vast experience of our staff and guides is the guarantee for smooth
        delivery of the services at every stage.
      </p>
    </div>
  </div>

  <div class="destination-container">
    <div class="find">
      <h1>Find your destination</h1>
      <p>Browse some of our most popular tours in Georgia this month.</p>
    </div>
    <div class="destination-carousal">


      <div class="swiffy-slider slider-item-show2 slider-nav-autoplay">
        <ul class="slider-container">
          <li>
            <img src="../images/destination1.jpeg" alt="">
            <button>Explore trip</button>
          </li>

          <li>
            <img src="../images/destination1.jpeg" alt="">
            <button>Explore trip</button>
          </li>


          <li>
            <img src="../images/destination1.jpeg" alt="">
            <button>Explore trip</button>
          </li>

        </ul>

        <button type="button" class="slider-nav"></button>
        <button type="button" class="slider-nav slider-nav-next"></button>

        <!-- <div class="slider-indicators">
          <button class="active"></button>
          <button></button>
          <button></button>
        </div> -->
      </div>

    </div>

  </div>

  <div class="package">
    <div class="ptext">
      <h1>Explore packages</h1>
      <p>Find, what suites you best</p>
    </div>

    <div class="package-cards">

      <% for (let i=0; i < tripPackages.length; i++) { %>
        <div class="card  card<%= i %>">
          <img src="<%= tripPackages[i].tripImages[0].path %>" alt="">
          <p><%= tripPackages[i].title %></p>

          <button>Discover more</button>
        </div>
        <% } %>

    </div>
  </div>


  <section class="testimonial-container">
    <h1>What People Say About Us</h1>
    <div class="testimonial-slider">
      <div class="testimonial-slides">
        <div class="t-content">
          <div class="t-logo"></div>
          <div class="t-review">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet
            luctus venenatis, lectus magna fringilla urna, porttitor
          </div>
          <div class="t-name">-Jeo Stanlee</div>
        </div>
      </div>

      <div class="testimonial-slides">
        <div class="t-content">
          <div class="t-logo"></div>
          <div class="t-review">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet
            luctus venenatis, lectus magna fringilla urna, porttitor
          </div>
          <div class="t-name">-Jeo Stanlee</div>
        </div>
      </div>

      <div class="testimonial-slides">
        <div class="t-content">
          <div class="t-logo"></div>
          <div class="t-review">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet
            luctus venenatis, lectus magna fringilla urna, porttitor
          </div>
          <div class="t-name">-Jeo Stanlee</div>
        </div>
      </div>


    </div>
  </section>

  <section class="subscribe">
    <div class="s-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 70 70" fill="none">
        <circle cx="35" cy="35" r="35" fill="url(#paint0_linear_1_329)"/>
        <path d="M52.6105 23.9904C53.3018 25.1878 53.2092 26.6136 52.3677 27.711L33.8939 51.8182C33.1321 52.8123 31.8776 53.3191 30.5948 53.0729C29.3387 52.8313 28.3427 51.9156 27.997 50.6841L25.2635 40.9555L24.9789 39.9435L24.2449 39.191L17.1864 31.9595C16.2927 31.0444 15.9977 29.724 16.4166 28.5154C16.8311 27.3206 17.8708 26.4536 19.1527 26.2856L49.267 22.3404C50.6381 22.1604 51.9192 22.793 52.6105 23.9904Z" fill="white"/>
        <path d="M25.2636 40.9555L27.9971 50.6841C28.3427 51.9157 29.3387 52.8313 30.5949 53.0729C31.8777 53.3192 33.1321 52.8124 33.894 51.8182L52.3678 27.7111C53.2092 26.6137 53.3019 25.1879 52.6106 23.9905L24.979 39.9436L25.2636 40.9555Z" fill="white"/>
        <path d="M36.2232 33.4515C36.5043 33.9385 36.3379 34.5616 35.8503 34.8431L25.2636 40.9553L24.9789 39.9434L24.2449 39.1909L34.8316 33.0787C35.3192 32.7973 35.9421 32.9646 36.2232 33.4515Z" fill="url(#paint1_linear_1_329)"/>
        <path d="M25.2637 40.9554L35.8504 34.8432C36.3379 34.5617 36.5044 33.9387 36.2232 33.4517L24.979 39.9435L25.2637 40.9554Z" fill="url(#paint2_linear_1_329)"/>
        <defs>
        <linearGradient id="paint0_linear_1_329" x1="49.6467" y1="1.96393" x2="19.564" y2="77.7643" gradientUnits="userSpaceOnUse">
        <stop stop-color="#32DF8F"/>
        <stop offset="1" stop-color="#005F15"/>
        </linearGradient>
        <linearGradient id="paint1_linear_1_329" x1="32.4077" y1="34.5441" x2="33.5453" y2="36.8251" gradientUnits="userSpaceOnUse">
        <stop stop-color="#32DF8F"/>
        <stop offset="1" stop-color="#005F15"/>
        </linearGradient>
  
      <h1>Subscribe to get information, latest news and other
        interesting offers about Cobham</h1>

        <div class="s-input">
          <form action="">
            <input type="text" placeholder="Your email">
            <button>Subscribe</button>  
          </form>
        </div>
    </div>
  </section>


  <!-- 
    <form action="/searchTrips" method="POST" id="searchTripForm">
        <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <div class="location-search-container">
                <label for="location">Where</label>
                <input type="text" name="location" id="location" placeholder="Search destinations">
            </div>

            <div class="checkin-search-container">
                <label for="checkIn">Check in</label>
                <input type="date" placeholder="Check in" name="checkIn" id="checkIn">
            </div>

            <div class="checkout-search-container">
                <label for="checkOut">Check out</label>
                <input type="date" placeholder="Check out" name="checkOut" id="checkOut">
            </div>

            <button type="button" onclick="searchTrip()">Search</button>
        </div>
    </form> -->





  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


  <!-- Initialize Swiper  first nav carousal-->
  <script>
    var swiper = new Swiper(".mySwiper", {
      speed: 1000,
      spaceBetween: 0,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });





    // testimonail carousal 

    //   all ------------------
    function initParadoxWay() {
      "use strict";

      if ($(".testimonials-carousel").length > 0) {
        var j2 = new Swiper(".testimonials-carousel .swiper-container", {
          preloadImages: false,
          slidesPerView: 1,
          spaceBetween: 20,
          loop: true,
          grabCursor: true,
          mousewheel: false,
          centeredSlides: true,
          pagination: {
            el: '.tc-pagination',
            clickable: true,
            dynamicBullets: true,
          },
          navigation: {
            nextEl: '.listing-carousel-button-next',
            prevEl: '.listing-carousel-button-prev',
          },
          breakpoints: {
            1024: {
              slidesPerView: 3,
            },

          }
        });
      }

      // bubbles -----------------


      setInterval(function () {
        var size = randomValue(sArray);
        $('.bubbles').append('<div class="individual-bubble" style="left: ' + randomValue(bArray) + 'px; width: ' + size + 'px; height:' + size + 'px;"></div>');
        $('.individual-bubble').animate({
          'bottom': '100%',
          'opacity': '-=0.7'
        }, 4000, function () {
          $(this).remove()
        });
      }, 350);

    }

    //   Init All ------------------
    $(document).ready(function () {
      initParadoxWay();
    });




  </script>




  <script>



    // Function to submit the search form
    function searchTrip() {
      // Update the hidden input field with selected categories
      document.getElementById('selectedCategories').value = selectedCategories.join(',');

      // Submit the form
      document.getElementById('searchTripForm').submit();
    }

    // Function to submit the category form
    function searchCategory() {
      // Update the hidden input field with selected categories
      document.getElementById('selectedCategories').value = selectedCategories.join(',');

      // Submit the form
      document.getElementById('categoryFilterForm').submit();
    }


    //this is for date picker 
    dateInputs.forEach(input => {
      input.addEventListener('focus', (event) => {
        event.target.showPicker();
      });
    });





  </script>

  <script src="/js/nav.js"></script>

</body>

</html>