<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>

    <nav>
        <div class="logo">
            <h4><b>TRAVELER</b></h4>
        </div>
        <div class="home">
            <a href="/">ALL TRIPS</a>
        </div>
    </nav>

    <hr>


    

    <div class="form-container">
        <form action="/createtrip" method="POST" enctype="multipart/form-data">
            <h1>CREATE YOUR TRIP</h1>
            <h3 class="td">Trip Details</h3>


            <div class="title-container">
                <label for="title" class="form-label mb-2">Trip Name</label>
                <input type="text" name="title" id="title" class="form-control " placeholder="Enter trip name" required>
            </div>

            <div class="wrap">

                <div class="location-container">
                    <label for="fromLocation" class="form-label mb-2">Starting Location</label>
                    <input type="text" name="fromLocation" id="fromLocation" class="form-control " required>
                </div>

                <div class="location-container">
                    <label for="location" class="form-label mb-2">End Location</label>
                    <input type="text" name="location" id="location" class="form-control " required>
                </div>
    
                
    
            </div>

            <div class="wrap">
                <div class="days-container">
                    <label for="departure" class="form-label mb-2">Trip Starting Date</label>
                    <input type="date" name="departure" id="departure" class="form-control tripDate"
                        onchange="calculateDurationAndAddStops()" required>
                </div>
                <div class="days-container">
                    <label for="endDate" class="form-label mb-2">Trip Ending Date</label>
                    <input type="date" name="endDate" id="endDate" class="form-control "
                        onchange="calculateDurationAndAddStops()" required>
                </div>
    
            </div>


            <div class=" wrap">

                <div class="conatiner">
                    <label for="maxTripmates" class="form-label mb-2">Max Number of People Allowed</label>
                    <input min="1" type="number" name="maxTripmates" id="maxTripmates" class="form-control " required>
                </div>

                <div class="conatiner">
                    <label for="minTripmates" class="form-label mb-2">Min Number of People Required</label>
                    <input min="1" type="number" name="minTripmates" id="minTripmates" class="form-control " required>
                </div>

            
            </div>

            <div class="wrap">
                <div class="maleTravelers-container">
                    <label for="maleTravelers" class="form-label mb-2">Number of Male Travelers Booked</label>
                    <input type="number" name="maleTravelers" id="maleTravelers" class="form-control" required>
                </div>
                
                <div class="femaleTravelers-container">
                    <label for="femaleTravelers" class="form-label mb-2">Number of Female Travelers Booked</label>
                    <input type="number" name="femaleTravelers" id="femaleTravelers" class="form-control" required>
                </div>
    
            </div>

            <div class="images-container">
                <label for="tripImages" class="form-label mb-2">Trip images</label>
                <input type="file" name="tripImages" id="tripImages" class="form-control" multiple required>
            </div>
            

            <!-- <div class="yturl-container">
                <label for="youtubeUrl">YouTube Video URL</label>
                <input type="text" name="youtubeUrl" id="youtubeUrl" placeholder="Enter YouTube URL">
            </div> -->

            <div class="description-container ">
                <span class="input-group-text">Trip description</span>
                <textarea class="form-control input-container-textarea" name="tripDescription"
                    aria-label="With textarea"
                    placeholder="Write an overview of the trip giving a unique selling point.." required></textarea>
            </div>

            <div class="totalDays-container">
                <label for="totalDays" class="form-label mb-2">Total days</label>
                <input type="number" name="totalDays" id="totalDays" class="form-control " required>
            </div>

            <!-- <div class="groupSize-container">
                <label for="groupSize" class="form-label mb-2">Group Size</label>
                <input type="number" name="groupSize" id="groupSize" class="form-control" required>
            </div> -->
            
            <div class="minAge-container">
                <label for="minAge" class="form-label mb-2">Minimum Age</label>
                <input type="number" name="minAge" id="minAge" class="form-control" required>
            </div>


            

           
            

            

           


            <h2 class="catagaries-text lang">Trip Categories</h2>
            <div class="catagaries-container">
                <div>
                    <input type="checkbox" class="input-btns" id="one" autocomplete="off" value="foods"
                    name="categories">
                    <label class="label-btns" for="one"><i class="fa-solid fa-utensils"></i> Foods</label>

                </div>
                <div>
                    <input type="checkbox" class="input-btns" id="two" autocomplete="off" value="beach"
                    name="categories">
                    <label class="label-btns" for="two"><i class="fa-solid fa-umbrella-beach"></i> Beach</label>

                </div>
                <div>
                    <input type="checkbox" class="input-btns" id="three" autocomplete="off" value="culture"
                    name="categories">
                    <label class="label-btns" for="three"><i class="fa-brands fa-fort-awesome"></i> Culture</label>


                </div>
                
                <div>
                    <input type="checkbox" class="input-btns" id="four" autocomplete="off" value="party"
                    name="categories">
                    <label class="label-btns" for="four"><i class="fa-solid fa-champagne-glasses"></i> Party</label>

                </div>
                <div>
                    <input type="checkbox" class="input-btns" id="five" autocomplete="off" value="sports"
                    name="categories">
                    <label class="label-btns" for="five"><i class="fa-solid fa-volleyball"></i> Sports</label>

                </div>
                <div>
                    <input type="checkbox" class="input-btns" id="six" autocomplete="off" value="nature"
                    name="categories">
                    <label class="label-btns" for="six"><i class="fa-solid fa-mountain-sun"></i> Nature</label>
                </div>

                <div>
                    <input type="checkbox" class="input-btns" id="seven" autocomplete="off" value="adventure"
                    name="categories">
                    <label class="label-btns" for="seven"><i class="fa-solid fa-utensils"></i> Adventure</label>

                </div>

                <div>
                    <input type="checkbox" class="input-btns" id="eight" autocomplete="off" value="hiking"
                    name="categories">
                    <label class="label-btns" for="eight"><i class="fa-solid fa-utensils"></i> Hiking</label>

                </div>

                <div>
                    <input type="checkbox" class="input-btns" id="nine" autocomplete="off" value="roadtrip"
                    name="categories">
                    <label class="label-btns" for="nine"><i class="fa-solid fa-utensils"></i> Road Trip</label>

                </div>

                <div>
                    <input type="checkbox" class="input-btns" id="ten" autocomplete="off" value="other"
                    name="categories">
                    <label class="label-btns" for="ten"><i class="fa-solid fa-utensils"></i> other</label>

                </div>




            </div>


            <h2 class="catagaries-text lang">Accommodation Type</h2>
            <div class="accomodations-container mt-3">
                <div>
                    <input type="checkbox" value="hotel" id="1" name="accomodations">
                    <label for="1">
                        Hotels
                    </label>
                </div>
                <div>
                    <input type="checkbox" value="hostels" id="2" name="accomodations">
                    <label for="2">
                        Hostels
                    </label>
                </div>
                <div>
                    <input class="form-check-input acc-input" type="checkbox" value="homestays" id="3"
                        name="accomodations">
                    <label for="3">
                        Homestays
                    </label>
                    
                </div>
                <div>
                    <input class="form-check-input acc-input" type="checkbox" value="luxurious stays" id="4"
                        name="accomodations">
                    <label class="form-check-label" for="4">
                        Luxurious Stays
                    </label>
                    
                </div>
                <div>
                    <input class="form-check-input acc-input" type="checkbox" value="budget stays" id="5"
                        name="accomodations">
                    <label class="form-check-label" for="5">
                        Budget Stays
                    </label>
                    
                </div>

                <div>
                    <input class="form-check-input acc-input" type="checkbox" value="other" id="6"
                        name="accomodations">
                    <label class="form-check-label" for="6">
                        Other
                    </label>
                    
                </div>

            </div>




            <h3 class="lang">Languages Spoken by Trip Leader</h3>
<div id="languages-container" class="languages-container">
    <label><input type="checkbox" name="languages" value="English"> English</label>
    <label><input type="checkbox" name="languages" value="Hindi"> Hindi</label>
    <label><input type="checkbox" name="languages" value="Kannada"> Kannada</label>
    <label><input type="checkbox" name="languages" value="Marathi"> Marathi</label>
    <label><input type="checkbox" name="languages" value="Tamil"> Tamil</label>
</div>
<div class="lang-input-cont">
    <input type="text" id="newLanguageInput" placeholder="Add new language">
    <button type="button" onclick="addCheckbox('languages-container', 'languages', 'newLanguageInput')">Add</button>
</div>


           
        
           
            
            <h3 class="lang">Enter Inclusions</h3>

            <div id="includes-container" class="languages-container">
                <label><input type="checkbox" name="includes" value="Accommodation"> Accommodation</label>
                <label><input type="checkbox" name="includes" value="Meals"> Meals</label>
                <label><input type="checkbox" name="includes" value="Local Transport"> Local Transportation</label>
                <label><input type="checkbox" name="includes" value="Guided Tours & Sightseeing"> Guided Tours & Sightseeing</label>
                <label><input type="checkbox" name="includes" value="Entry Fees & Permits"> Entry Fees & Permits</label>
                <label><input type="checkbox" name="includes" value="Travel Insurance (Basic)"> Travel Insurance (Basic)</label>
                <label><input type="checkbox" name="includes" value="Tour Leader or Guide Services"> Tour Leader or Guide Services</label>
                <label><input type="checkbox" name="includes" value="Group Activities"> Group Activities</label>
                <label><input type="checkbox" name="includes" value="Welcome & Farewell Events"> Welcome & Farewell Events</label>
                <label><input type="checkbox" name="includes" value="Emergency Assistance"> Emergency Assistance</label>
            </div>
            <div class="lang-input-cont">
                <input type="text" id="newIncludeInput" placeholder="Add new include">
                <button type="button" onclick="addCheckbox('includes-container', 'includes', 'newIncludeInput')">Add</button>
            </div>
            


            <h3 class="lang">Enter Exclusions</h3>

            <div id="excludes-container" class="languages-container">
                <label><input type="checkbox" name="excludes" value="Meals Not Mentioned"> Meals Not Mentioned</label>
                <label><input type="checkbox" name="excludes" value="Personal Expenses"> Personal Expenses</label>
                <label><input type="checkbox" name="excludes" value="Optional Activities & Excursions"> Optional Activities & Excursions</label>
                <label><input type="checkbox" name="excludes" value="Travel Insurance (Comprehensive)"> Travel Insurance (Comprehensive)</label>
                <label><input type="checkbox" name="excludes" value="Tips & Gratuities"> Tips & Gratuities</label>
                <label><input type="checkbox" name="excludes" value="Extra Baggage Fees"> Extra Baggage Fees</label>
                <label><input type="checkbox" name="excludes" value="Medical Expenses"> Medical Expenses</label>
                <label><input type="checkbox" name="excludes" value="Transportation Outside Itinerary"> Transportation Outside Itinerary</label>
                <label><input type="checkbox" name="excludes" value="Internet & Communication Costs"> Internet & Communication Costs</label>
                <label><input type="checkbox" name="excludes" value="Pre/Post-Trip Accommodation"> Pre/Post-Trip Accommodation</label>
            </div>
            <div class="lang-input-cont">
                <input type="text" id="newExcludeInput" placeholder="Add new exclude">
                <button type="button" onclick="addCheckbox('excludes-container', 'excludes', 'newExcludeInput')">Add</button>
            </div>
            

           

            <!-- <div class="days-container">
                <label for="departure" class="form-label mb-2">departure</label>
                <input type="date" name="departure" id="departure" class="form-control tripDate"
                    onchange="calculateDurationAndAddStops()" required>
            </div>
            <div class="days-container">
                <label for="endDate" class="form-label mb-2">end date</label>
                <input type="date" name="endDate" id="endDate" class="form-control "
                    onchange="calculateDurationAndAddStops()" required>
            </div> -->
            <!-- <button type="button" class="btn" id="addStopBtn" onclick="addStop()">Add Stop</button> -->

            <h3 class="lang">Day-wise itenerary  </h3>


            <div class="stop-container" id="stops-container">
                <!-- Initial stop section for Stop 1 -->
                <div class="stop-section">
                    <h3>Stop 1</h3>
                    <label for="stopImages" class="form-label mb-2">Upload Image</label>
                    <input type="file" name="stopImages" class="form-control">

                    <label for="stopLocation" class="form-label mb-2">Enter Location</label>
                    <input type="text" name="stopLocation" class="form-control">

                    <label for="stopDescription" class="form-label mb-2">Tell Us More</label>
                    <input type="text" name="stopDescription" class="form-control">

                </div>
            </div>
            <button type="button" class="btn add-stop" onclick="addStop()">Add Stop</button>

            <!-- <div class="transport-container">
                <h2>PLEASE SELECT THE MODE OF transport</h2>
                <label for="flight" >FLIGHT</label>
                <input type="checkbox" name="transport" id="flight" value="flight">

                <label for="train" >TRAIN</label>
                <input type="checkbox" name="transport" id="train" value="train">

                <label for="car" >CAR</label>
                <input type="checkbox" name="transport" id="car" value="car">

                <label for="walk" >WALK</label>
                <input type="checkbox" name="transport" id="walk" value="walk">

            </div> -->


            <h2 class="lang ">TRIP COST PER TRIPMATE</h2>

            <div class="trip-calculator-conatiner">



                <div class="travel-cost-container">


                    <div class="total-cost">
                        <label for="totalCost" class="form-label mb-2">Cost of the Trip: </label>
                        <input type="number" name="totalCost" class="form-control" required>
                    </div>

                    <div class="total-cost">
                        <label for="buffer" class="form-label mb-2">Buffer % (for discounts):</label>
                        <input type="number" name="buffer" min="0" max="15" class="form-control" required>
                    </div><br>

                    <div class="total-cost">
                        <label for="deposit" class="form-label mb-2">Minimum Booking Amount (Flight/Train)</label>
                        <input type="number" name="deposit" class="form-control">
                    </div>

                </div>

            </div>

            
        
           

            <button class="submit-btn">SUBMIT</button>
        </form>
    </div>


    <script>
    function addCheckbox(containerId, name, inputId) {
        const container = document.getElementById(containerId);
        const inputValue = document.getElementById(inputId).value.trim();

        if (inputValue) {
            const label = document.createElement('label');
            const checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.name = name;
            checkbox.value = inputValue;
            checkbox.checked = true;

            label.appendChild(checkbox);
            label.appendChild(document.createTextNode(' ' + inputValue));

            container.appendChild(label);

            // Clear input
            document.getElementById(inputId).value = '';
        } else {
            alert('Please enter a valid value.');
        }
    }
</script>

    <script>








































        let stopCounter = 1;
    
        function addStop() {
            stopCounter++;
    
            const stopsContainer = document.getElementById('stops-container');
    
            const newStopSection = document.createElement('div');
            newStopSection.className = 'stop-section';
    
            newStopSection.innerHTML = `
                <h3>Stop ${stopCounter}</h3>
    
                ${
                    stopCounter > 1
                        ? `
                        
                    `
                        : `
                        <div class="transport-container">
                            <h2>PLEASE SELECT THE MODE OF transport</h2>
                            <label for="flight">FLIGHT</label>
                            <input type="checkbox" name="transport" value="flight">
    
                            <label for="train">TRAIN</label>
                            <input type="checkbox" name="transport" value="train">
    
                            <label for="car">CAR</label>
                            <input type="checkbox" name="transport" value="car">
    
                            <label for="walk">WALK</label>
                            <input type="checkbox" name="transport" value="walk">
                        </div>
                    `
                }
    
                <label for="stopImages" class="form-label mb-2">Upload Image</label>
                <input type="file" name="stopImages" class="form-control">
    
                <label for="stopLocation" class="form-label mb-2">Enter Location</label>
                <input type="text" name="stopLocation" class="form-control">
    
                <label for="stopDescription" class="form-label mb-2">Tell Us More</label>
                <input type="text" name="stopDescription" class="form-control">

                <label for="transport" class="form-label mb-2">Enter Mode of Transport</label>
                        <input type="text" name="transport" class="form-control">
    
                <button type="button" class="btn" onclick="deleteStop(this)">Delete Stop</button>
            `;
    
            stopsContainer.appendChild(newStopSection);
            updateStopNumbers();
        }
    
        function deleteStop(button) {
            const stopsContainer = document.getElementById('stops-container');
            const stopSection = button.parentNode;
            stopsContainer.removeChild(stopSection);
            stopCounter--;
            updateStopNumbers();
        }
    
        function updateStopNumbers() {
            const stops = document.getElementsByClassName('stop-section');
            Array.from(stops).forEach((stop, index) => {
                const stopNumber = index + 1;
                stop.querySelector('h3').innerText = `Stop ${stopNumber}`;
            });
        }
    
        function calculateDurationAndAddStops() {
            const departureDate = new Date(document.getElementById('departure').value);
            const endDate = new Date(document.getElementById('endDate').value);
            const durationInDays = Math.floor((endDate - departureDate) / (24 * 60 * 60 * 1000));
            addStopsBasedOnDuration(durationInDays);
        }
    
        function addStopsBasedOnDuration(duration) {
            const stopsContainer = document.getElementById('stops-container');
            stopsContainer.innerHTML = '';
    
            const initialStopSection = document.createElement('div');
            initialStopSection.className = 'stop-section';
            initialStopSection.innerHTML = `
                <h3>Stop 1</h3>
               
                <label for="stopImages" class="form-label mb-2">Upload Image</label>
                <input type="file" name="stopImages" class="form-control">
                <label for="stopLocation" class="form-label mb-2">Enter Location</label>
                <input type="text" name="stopLocation" class="form-control">
                <label for="stopDescription" class="form-label mb-2">Tell Us More</label>
                <input type="text" name="stopDescription" class="form-control">
            `;
            stopsContainer.appendChild(initialStopSection);
    
            for (let i = 2; i <= duration + 1; i++) {
                const newStopSection = document.createElement('div');
                newStopSection.className = 'stop-section';
                newStopSection.innerHTML = `
                    <h3>Stop ${i}</h3>
                    
                    <label for="stopImages" class="form-label mb-2">Upload Image</label>
                    <input type="file" name="stopImages" class="form-control">
                    <label for="stopLocation" class="form-label mb-2">Enter Location</label>
                    <input type="text" name="stopLocation" class="form-control">
                    <label for="stopDescription" class="form-label mb-2">Tell Us More</label>
                    <input type="text" name="stopDescription" class="form-control">
                    <label for="transport" class="form-label mb-2">Enter Mode of Transport</label>
                    <input type="text" name="transport" class="form-control">
                    <button type="button" class="btn" onclick="deleteStop(this)">Delete Stop</button>
                `;
                stopsContainer.appendChild(newStopSection);
            }
            updateStopNumbers();
        }
    </script>
    

<script src="/js/nav.js"></script>

</body>

</html>