<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtered Trips</title>
</head>
<body>
    <div class="cards">
        <% allTrips.forEach(trip => { %>
            <div class="card-container">
                <div class="card-img">
                    <% if (trip.tripImages && trip.tripImages.length > 0 && trip.tripImages[0].path) { %>
                        <div class="trip-image">
                            <img src="<%= trip.tripImages[0].path %>" alt="Trip Image">
                        </div>
                    <% } else { %>
                        <p>No images available for this trip</p>
                    <% } %>
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                        <a href="/tour/<%= trip._id %>">
                            <%= trip.title %>
                        </a>
                    </h3>
                </div>
            </div>
        <% }); %>
    </div>
</body>
</html>
