<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>sample</h1>


<script>
    //  async function fetchData() {
    //         // Define the data to be sent in the POST request
    //         const postData = {
    //             name: 'example_name'
    //         };

    //         // Options for the fetch request
    //         const options = {
    //             method: 'POST', // Request method
    //             headers: {
    //                 'Content-Type': 'application/json' // Specify content type as JSON
    //             },
    //             body: JSON.stringify(postData) // Convert data to JSON format
    //         };

    //         try {
    //             const response = await fetch('http://localhost:8080/fetchapi', options);
    //             const jsonData = await response.json(); // Parse JSON data from response
    //             console.log(jsonData);
    //         } catch (error) {
    //             console.error('Error fetching data:', error);
    //         }
    //     }

    //     fetchData();
       

</script>

</body>

</html>
