<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<%if(exactMatchTrips) {%>
    <h1>Exact trips</h1>
    <h1><%= exactMatchTrips %></h1>
    <br>
<%}%>

<%if(locationFlexibleTrips) {%>
    <h1>location flexible trips</h1>
    <h1><%= locationFlexibleTrips %></h1>
    <br>
<%}%>


<%if(dateFlexibleTrips) {%>
    <h1>date flexible trips</h1>
    <h1><%= dateFlexibleTrips %></h1>
    <br>
<%}%>

<%if(allTrips){%>
    <h1>all trips</h1>
    <h1><%= allTrips %></h1>
<%}%>


</body>
</html>