<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="cards">
        <%for(trips of allTrips) {%>
            <div class="card-container">
                <div class="card-img">
                    <% if (trips.tripImages && trips.tripImages.length > 0 && trips.tripImages[0].path) { %>
                        <div class="trip-image">
                            <img src="<%= trips.tripImages[0].path %>" alt="Trip Image">
                        </div>
                    <% } else { %>
                        <p>No images available for this trip</p>
                    <% } %>
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                        <a href="/<%= trips._id %>">
                            <%= trips.title %>
                        </a>
                    </h3>

                </div>
            </div>
            <%}%>
    </div>


</body>
</html>