<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/showAll.css">
    <title>Document</title>
</head>

<body>
    <h1>all trips</h1>

    <div class="cards">
        <%for(trips of allTrips) {%>
            <div class="card-container">
                <div class="card-img">
                    <img src="<%= trips.tripImages %>" alt="trip-image">
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                        <a href="/<%= trips._id %>">
                            <%= trips.title %>
                        </a>
                    </h3>
    
                </div>
            </div>
            <%}%>
        </div>
        
</body>

</html>